:root {
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --gray-dark: #333;
    --gray-ligth: #ccc;
    --white: #fff;
    --yellow: #efd81d;
    --yellow-30: #efd81d30;
    --header-color: #45443B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}

h2 {
    padding: 8px;
    padding-top: 48px;
    padding-left: 0;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--gray-dark);
}

h2:first-child {
    padding-top: 8px;
}

p {
    font-size: 1.6rem;
    line-height: 3.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 32px;
    font-size: 1.6rem;
    line-height: 3.6rem;
}

code {
    font-size: 1.6rem;
    line-height: 3.6rem;
}

.error {
    color: rgb(255, 91, 91);
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:active {
    transform: scale(1.05);
}

/* ========================================================= */
/* Animation for firs deploy */
/* ========================================================= */
.section-animation {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.animation__text {
    width: 0;
    border-right: .15em solid var(--yellow);
    font-size: 2rem;
    font-family: "Courier New";
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* ========================================================= */
/* Nav */
/* ========================================================= */
.nav__container {
    position: fixed;
    width: 100%;
    top: 0;
    height: 48px;
    background-color: var(--gray-dark);
    z-index: 99;
}

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    padding-right: 16px;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--white);
}

@media (max-width:400px) {
    .nav__btn {
        font-size: 1.4rem;
    }

    .nav__btn:last-child {
        padding-right: 0;
    }
}

/* ========================================================= */
/* header - index.html*/
/* ========================================================= */
.header {
    padding: 64px 0;
    background-color: #45443B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--white);
}

.subtitle {
    width: 315px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    color: var(--white);
}

.header__btn {
    margin: 0 8px;
    padding: 8px 16px;
}

.header__btn:first-child {
    border: 1px solid #EFD81D;
    background-color: #EFD81D;
}

.header__btn:last-child {
    border: 1px solid #EFD81D;
    color: #EFD81D;
}

@media (min-width:768px) {
    .title {
        font-size: 3.6rem;
        line-height: 4.2rem;
    }

    .subtitle {
        width: 500px;
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 32px;
    }

    .header__btn {
        font-size: 1.8rem;
    }
}

/* ========================================================= */
/* Main Home - index.html*/
/* ========================================================= */
.main-home {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-home {
    padding: 16px;
}

.title-home {
    font-weight: lighter;
}

.home-aside {
    background-color: #EFD81D4C;
    padding: 16px;
}

.btn-aside {
    width: 100px;
    position: relative;
    left: calc(100% - 116px);
    background-color: #444444;
    color: var(--white);
    padding: 8px 16px;
}

@media (min-width:768px) {
    .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-aside {
        grid-column: 1/4;
    }

    .btn-aside {
        font-size: 1.8rem;
    }
}

/* ========================================================= */
/* Footer */
/* ========================================================= */
.footer__container {
    margin-top: 48px;
    background-color: var(--gray-dark);
}

.main-home+.footer__container {
    margin-top: 0px;
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    color: var(--white);
}

.footer__title {
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--gray-ligth);
}

.footer__list {
    padding: 0;
}

.footer__list li {
    list-style: none;
}

@media (min-width:768px) {
    .footer__container {
        position: relative;
        z-index: 99;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* ========================================================= */
/* Navbar */
/* ========================================================= */
.navbar {
    height: calc(100% - 48px);
    width: 100%;
    padding: 16px;
    position: fixed;
    /* z-index: 1; */
    background-color: var(--white);
    overflow-y: auto;
}

.navbar ul {
    padding-left: 0px;
    position: relative;
}

.navbar ul>li:last-child {
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: width 0.5s, height .5s;
    transition-delay: 0s, .25s;
}

.navbar li {
    height: auto;
    list-style: none;
    padding-left: 16px;
}

.navbar ul li ul li {
    font-weight: lighter;
    white-space: nowrap;

}

.navbar__li-selected {
    border-left: 3px solid var(--yellow);
}

.navbar a {
    color: var(--gray-dark);
}

/* Icon of menu*/
.navbar i {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
}

.navbar i::before,
.navbar i::after {
    position: absolute;
    top: 16px;
    left: 7px;
    content: "";
    width: 12px;
    height: 1px;
    background-color: #333;
    transform: rotate(45deg);
}

.navbar i::before {
    transform: rotate(50deg);
}

.navbar i::after {
    left: 14px;
    transform: rotate(-50deg);
}

.navbar .navbar-toggle-hide li:last-child {
    width: 100%;
    height: 100%;
    transition: width 0.5s, height .5s;
    transition-delay: 0s, 1s;
}

/* ========================================================= */
/* btn absolute for navbar */
/* ========================================================= */
.btn__absolute {
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--gray-dark);
    color: var(--yellow);
    z-index: 999;
}

.btn__absolute:active {
    transform: scale(1.1);
}

/* ========================================================= */
/* Blogs */
/* ========================================================= */
.main-document {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 48px;
}

.section-document {
    padding: 16px;
}

.section-main {
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width:768px) {
    .section-main {
        width: calc(100% - 300px);
        margin-left: 300px;
        margin-top: 48px;
    }

    .navbar {
        width: 300px;
        padding-bottom: 400px;
    }

    .btn__absolute {
        display: none;
    }
}

/* ========================================================= */
/* General Clases */
/* ========================================================= */
@media (max-width:768px) {
    .none {
        display: none;
    }
}

.dark-gray {
    color: var(--gray-dark);
}

.f-r {
    padding-left: 16px;
    padding-right: 16px;
    float: right;
    cursor: pointer;
}

code {
    padding: 4px;
    font-weight: bold;
    color: #4b3621;
    background-color: #ddd;
}
