:root {
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --gray-dark: #333;
    --gray-ligth: #ccc;
    --white: #fff;
    --yellow: #efd81d;
    --yellow-30: #efd81d30;

    --header-color: #45443B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

.section-animation {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.animation__text {
    width: 0;
    border-right: .15em solid var(--yellow);
    font-size: 2rem;
    font-family: "Courier New";
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
