<div class="footer__container">
    <footer class="footer">
        <div class="">
            <h3 class="footer__title">Documentación</h3>
            <ul class="footer__list">
                <li> Introducción</li>
                <li> Tipo de Datos</li>
                <li> Estructuras de Control</li>
                <li> Programación Orientada a Objetos</li>
                <li> Objetos y Funciones del Lenguaje</li>
                <li> Programación Asíncrona</li>
                <li> JSON</li>
                <li> AJAX</li>
                <li> REST</li>
            </ul>
        </div>
        <div class="">
            <h3 class="footer__title">Code</h3>
            <ul class="footer__list">
                <li> Introducción</li>
                <li> Tipo de Datos</li>
            </ul>
        </div>
    </footer>
</div>
