<div id="navbar" class="navbar none">

    <ul>
        <li><a href="/documentos.html" class="dark-gray navbar__a-link">Introducción</a> <i
                class="bi bi-chevron-down f-r navbar__toggle"></i></li>
        <li>
            <ul>
                <!-- <li class="navbar__li-selected"><a class="navbar__a" href="#introducción">Introducción</a></li> -->
                <!-- <li><a class="navbar__a" href="#introducción">Introducción</a></li> -->
                <li><a class="navbar__a" href="#isomorfismo">Isomorfismo</a></li>
                <li><a class="navbar__a" href="#javascript-no-es-java">JavaScript No es JAVA </a></li>
                <li><a class="navbar__a" href="#escritura-de-código">Escritura de código</a></li>
                <li><a class="navbar__a" href="#palabras-reservadas">Palabras reservadas</a></li>
            </ul>
        </li>
    </ul>

    <ul>
        <li><a href="/tipos-datos.html" class="dark-gray">Tipos de datos</a> <i
                class="bi bi-chevron-down f-r navbar__toggle"></i></li>
        <li>
            <ul>
                <!-- <li><a class="navbar__a" href="#tipos-de-datos">Tipos de datos</a></li> -->
                <li><a class="navbar__a" href="#tipado-dinámico">Tipado dinámico</a></li>
                <li><a class="navbar__a" href="#estructuras-y-tipos-de-datos">Estructuras y tipos de datos</a></li>
            </ul>
        </li>
    </ul>

    <!--
    <ul>
        <li>Estructuras de control</li>
        <li>
            <ul>
                <li>Tipos de operadores </li>
                <li>Condicionales </li>
                <li>Ciclos </li>
                <li>Manejo de errores </li>
                <li>Break y Continue </li>
                <li>Destructuración </li>
                <li>Objetos y literales </li>
                <li>Parametros REST & Operador Spread </li>
                <li>Arrow function </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>Tipos de datos en JavaScript</li>
        <li>
            <ul>
                <li>Primitivos </li>
                <li>Compuestos </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>Estructuras de control</li>
        <li>
            <ul>
                <li>Tipos de operadores </li>
                <li>Condicionales </li>
                <li>Ciclos </li>
                <li>Manejo de errores </li>
                <li>Break y Continue </li>
                <li>Destructuración </li>
                <li>Objetos y literales </li>
                <li>Parametros REST & Operador Spread </li>
                <li>Arrow function </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>Tipos de datos en JavaScript</li>
        <li>
            <ul>
                <li>Primitivos </li>
                <li>Compuestos </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>Estructuras de control</li>
        <li>
            <ul>
                <li>Tipos de operadores </li>
                <li>Condicionales </li>
                <li>Ciclos </li>
                <li>Manejo de errores </li>
                <li>Break y Continue </li>
                <li>Destructuración </li>
                <li>Objetos y literales </li>
                <li>Parametros REST & Operador Spread </li>
                <li>Arrow function </li>
            </ul>
        </li>
    </ul> -->

</div>
