<div id="navbar" class="navbar none">

    <sergey-import src="components/nav-list.md" as="markdown" />

    <!-- Estructura de ejemplo para la lista -->
    <!-- <ul>
        <li><a href="/documentos.html">Introducción</a><i></i></li>
        <li>
            <ul>
                <li class="navbar__li-selected"><a class="navbar__a" href="#introducción">Introducción</a></li>
                <li><a class="navbar__a" href="#introducción">Introducción</a></li>
                <li><a href="#isomorfismo">Isomorfismo</a></li>
                <li><a href="#javascript-no-es-java">JavaScript No es JAVA </a></li>
                <li><a href="#escritura-de-código">Escritura de código</a></li>
                <li><a href="#palabras-reservadas">Palabras reservadas</a></li>
            </ul>
        </li>
    </ul> -->

</div>
